<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="URL_NAP" value="https://izpalniteli.com/targove/alist/filterid/s57219/"/>
    <add key="URL_BCPEA" value="http://sales.bcpea.org/bg/auto.html?price1=3000&amp;price2=20000&amp;types%5B%5D=1&amp;types%5B%5D=2"/>
    <add key="SEND_TO_MAIL" value="mariyan87@gmail.com"/>
  </appSettings>
</configuration>